.page{
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/boook-bg.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment:fixed;

&-main{
  display: flex;
  flex-direction: wrap;
}
}

@media(max-width: 900px){
  .page{
    height: 100%;
    background-size: contain;
    opacity: 0.8;
  }
}
