<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 8056f35e3d3766b87740a588ea098c6c86c643b2
@use 'src/styles/vars';

.dropMenu {
  background-color: vars.$primary;
  padding: 0;
}
<<<<<<< HEAD
=======
=======
>>>>>>> ec1610291d50a2555a141bb3f81007b6a3a93c88
>>>>>>> 8056f35e3d3766b87740a588ea098c6c86c643b2
// -- Responsiv -- // 

@media(max-width: 900px){
  .dropdown-menu.show {
    width: 2rem;

  }
}
