<<<<<<< HEAD
@use 'src/styles/vars';

.dropMenu {
  background-color: vars.$primary;
  padding: 0;
}
=======
>>>>>>> ec1610291d50a2555a141bb3f81007b6a3a93c88
// -- Responsiv -- // 

@media(max-width: 900px){
  .dropdown-menu.show {
    width: 2rem;

  }
}
