@use 'src/styles/vars';

.intro {
  background-color: vars.$bg-200;
  border: solid 1px vars.$primary-200;
  box-shadow: 20px -16px rgba(222, 130, 94, 0.7);
  border-radius: 15px ;
  margin: 2em;
  padding: 1em;

  &-title{
    color: vars.$primary-300;
    padding: 1em;
    text-align: center;
  }

  &-content{
    color: vars.$text
  }
  
}

// @media(max-width: 900px){
//   .intro{
//     display: none;
//   }
// }

