@use 'src/styles/vars';

.book {
 background-color: rgba($color: #ffa07a, $alpha: 0.5);
 
}






// -- Responsiv -- //
@media(max-width: 900px){
  main{
     max-height: 25%;
     display: flex;
     align-items: center;
     margin: 3em auto;
     display: flex;
     flex-direction: column;
     column-gap: 3em;
   }
 }
