.devBox {
  
  display: flex;
  justify-content: space-around;
  gap: 2em;
  margin: 2em;
  color: #500000;
  

  &__profil {
    background-color: rgba(253, 242, 221, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #99616c;
    text-align: center;
    
  }

  &__name {
    
    margin-top: 1em;
  }

  &__profilPic {
    clip-path:ellipse(50% 50%);
    margin:  1em auto;
    height: 10em;
    width: 10em;
    position: static;
  }

  &__presentation {
    width: 18em;
    display: flex;
    align-items: center;
    margin: auto;
  }

  &__contact {
    height: 3em;
    background-color: #ffa07a;
    border-radius: 0 0 10px 10px;
  }

}

a {
  color: #5c5c5c;
  text-decoration: none;
}

.linkedin {
  
  margin: 1em;
}


// -- Responsiv -- // 

@media(max-width: 900px){
  .devBox{
     max-height: 25%;
     align-items: center;
     width: auto;
     display: flex;
     flex-direction: column;
  
   }
 }
