$bg: #fffaf0;
$bg-200: #f5f0e6;
$bg-300: #ccc7bd;

$primary: #ffa07a;
$primary-200: rgb(222, 130, 94);
$primary-300: #500000;


$accent: #ffc0cb;
$accent-200: #99616c;

$text: #333333;
$text-200: #5c5c5c;
