$bg: #fffaf0;
$bg-200: #fdf2dd;
$bg-300: #f5f0e6;
$bg-400: #ccc7bd;

$primary: #ffa07a;
$primary-200: #de825e;
$primary-300: #500000;


$accent: #ffc0cb;
$accent-200: rgb(153, 97, 108);

$text: #333333;
$text-200: #5c5c5c;
