body {
  background-color: #fffaf0;
}
.app {
  width: 80%;
  height: 100%;
  margin: 1em auto;
  text-align: center;
  background-color: #ffa07a;
  border-radius: 20px;
}

.app img {
  max-width: 150px;
}
