
@use 'src/styles/vars';

.lastestadd{
padding: 3em 0;
display: flex;
}

h1 {
  width: 40%;
  margin: auto;
  color: vars.$primary-300;
  font-size: 2em;
}

.card {
  min-height: 20%;
  min-width: 20%;
}

.card-img-top{
  flex-basis: 40%;
  min-height: 30%;
  padding: 1em;
  border: 1px solid vars.$text-200;
}

.card-body{
  flex-basis: 15%;
  min-height: 10%;
}

.list-group{
  flex-basis: 40%;
  min-height: 10%;
}

// -- Responviv -- //

@media(max-width: 900px){ 
  .lastestadd{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1em;
    }
    
  h1 {
    margin: auto;
    color: vars.$primary-300;
    font-size: 2em;
  }
  // .carousel-inner{
  //   height: 40em;
  //   width: 20em;
  //   margin: auto;
    
  // }
  // .carousel-slide{
  //   width: 100%;
  // }

  }



