@use 'src/styles/vars';

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: vars.$bg-200;
  border-radius: 15px;
  width: 100%;
  height: 20%;
  margin: auto;

  &-intro{
    margin: auto;
    text-align: center;

    &-title{
      font-size: 3rem;
      color: vars.$primary-300;
      
    }

    &-slogan{
      color: vars.$text-200;
      font-style: italic;
    }
  }
}
.nav{
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;

  &-content{
    display: inline;
    max-width: 20rem;
    margin-left: 2rem;
  }

  &-link {
    
    display: inline;
    padding: 1rem;
    transition: color .2s, box-shadow .4s;
    text-decoration: none;
    color: vars.$text;

    &:hover:not(&--active) {
      color: vars.$accent-200;
    }

    &--active {
      color: vars.$accent;
      box-shadow: inset -3px 0 0 vars.$text;
    } 
    
    &-icon {
      color: vars.$primary-200;
      padding: 0.2rem;
      width: fit-content;
      height: fit-content;
      margin-bottom: 0.3rem;
    }
  }

}

.color{
  color: vars.$primary-300;
}

@media (max-width: 900){
  .footer{
      flex-direction: column;
    }
  }
