.UserPage {
  display: flex;
  flex-direction: column;
  margin: 2em 5em;
}
.topMain {
  background-color: #ffa07a;
  border-radius: 50px 50px 0 0;
  padding-left: 10em;

  &__useInfo {
    display: flex;
    flex-direction: row;

  &__image {
    width: 20em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  &__pseudo {
    color: #333333;
    display: flex;
    align-items: center;
    margin-left: 15em;
    margin-top: 2em;
  }

  &__about {
    display: flex;
    align-items: center;
    margin-top: 8.5em;
    background-color: #f5f0e6;
    margin-bottom: 1em;
    border-radius: 5px;
  }
  }
}

.bottomMain {
  background-color: #ffc0cb;
  border-radius: 0 0 50px 50px;
}
