.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 20em;
}
.givenButton {
  display: block;
  align-items: center;
  background-color: #de825e;
  margin: 1em;
  border-radius: 5px;
}


.accordion {
  background-color: #500000;
  color: greenyellow;
}
