
@use 'src/styles/vars';

.lastestadd{
padding: 3em 0;
display: flex;
}

h1 {
  width: 40%;
  margin: auto;
  color: vars.$primary-300;
  font-size: 2em;
}

.carousel {

  &.slide{
    width: 60%;
    margin: 0 auto;
    padding-top: 1em;
  }
  &-img{
    height: 50%;
    width: 100%;
    margin: auto;
    border-radius: 10px;
  }

  &-inner{
    width: 50%;
    margin: auto;
    justify-content: center;
  }

}

// -- Responviv -- //

@media(max-width: 900px){ 
  .lastestadd{
    display: flex;
    flex-direction: column;
    }
    
  h1 {
    margin: auto;
    color: vars.$primary-300;
    font-size: 2em;
  }
  }



