@use 'src/styles/vars';

.slogan{

  margin: 20%;
  padding: 1em;
  max-width: 80%;
  

  &-title{
    color: vars.$primary-300;
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
  }
  
}

@media(max-width: 900px){
  .slogan{
    margin: 3em 8em 4em 4em;
    padding: 1em;
    max-width: 50%;
}

.slogan-title{
  font-size: 1.5em;
  align-items: baseline;
  text-align: center;
}
}
