@use 'src/styles/vars';

.result {
  flex-basis: 19%; /* Pour que chaque carte ait une largeur équivalente */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 2em auto ;
  max-width: 30em;
  min-width: 30em;
  max-height: 100em;
}
.result-img{
  flex-basis: 65%;
  min-height: 30%;
  max-height: 60em;
  padding: 1em;
  border: 1px solid vars.$text-200;
}

.result-body{
  flex-basis: 30%;
  min-height: 10%;
  height: 6em;
  overflow-y: auto;

}

.result-info{
  flex-basis: 25%;
  min-height: 10%;
}

.card{
  
 &-btn{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 2em;
  margin: 0 auto !important;
  width: 90%;
}
}


// -- Responsiv -- //

@media(max-width: 1300px){
 .result{
  max-width: 20em;
  min-width: 22em;
 }
  .result-img {
    flex-basis: 100%;
    min-height: 20%;
    max-height: 30em;
    margin-bottom: 1em;
  }

  .result-body {
    flex-basis: 20%;
    min-height: 10%;
    max-height: 10em;
  }

  .result-group {
    flex-basis: 100%;
    min-height: 20%;
    max-height: 15em;
  }
}
