@use 'src/styles/vars';
.container{
  width: 80%;
}
.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 20em;
}

.texted {
   color: vars.$primary-300;
  }

.cardBody {
  display: flex;
  text-transform: capitalize;
  text-decoration: none;
  color: vars.$primary-300;
  gap: 1em;
  justify-content: center;
}
.cardImage{
  width: 15em;
  height: 25em;
  margin: 1em auto;
}

.bookItem {
  border-radius: 5px;
  border: 1px solid vars.$primary-300;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 0;
  max-width: 70%;
  min-width: 70%;
  text-align: center;
  
}

.vh-100 {
  height: 100%;
  position: static;
}

.mjboot{
  min-height: 100vh;
  overflow-y: auto;
}

.footer {
  bottom: 0;
}

// -- Responsiv -- // 

@media(max-width: 450px){
  .bookItem{
    max-width: 100%;
  }

  .container{
    width: 100%;
  }

 .mjboot {
  min-height: 100vh;
  overflow-y: auto;
 }
  //champs
  .mb-3 {
    width: 100%;
  }

  .img-fluid {
    width: 35%;
  }

  //fond 
  .py-5 {
    margin-bottom: 5rem;
   }

  .g-0 {
    // background-color: red;
    width: 100%;
    align-items: center;
  }

  .vh-100 {
    height: 100%;
    position: relative;
  }

}
