@use 'src/styles/vars';

.form-control{
  width: 40em;
  max-width: 28em;
}

.btn{
  background-color: vars.$primary-300;
  border-color: vars.$primary-300;

  &:hover{
    background-color: vars.$accent-200;
    border-color: vars.$accent-200;
  }

  &-primary{
    margin-top: 1em;
  }
}

