@use 'src/styles/vars';

.login{

  background-color: vars.$bg;
  background-image: url(../../assets/boook-bg.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment:fixed;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-title{
    color: vars.$text;
    margin-top: 2em;  
    margin-bottom: 2em;
  }
}

.form-control{
  margin: auto;
  width: 40em;
}


.btn{
  background-color: vars.$primary-300;
  border-color: vars.$primary-300;

  &:hover{
    background-color: vars.$accent-200;
    border-color: vars.$accent-200;
  }

  &-primary{
    margin-top: 1em;
  }
}

@media(max-width: 900px){
  .form-control {
    width: 20em;

  }

 .login-title{
    margin-top: 5em;  
    margin-bottom: 2em;
  }
}
