@use 'src/styles/vars';

.nav-menu {
  background: rgb(255,250,240);
  background: linear-gradient(90deg, rgba(255,250,240,1) 0%, rgba(246,188,165,1) 100%);
  border-radius: 10px 10px 0 0;
  position: fixed;
  width: 100%;
}

.nav-connect{
  display: flex;
}
@media(max-width: 900px){
.nav-connect{
  display: none;
}
}
